.section9{
    position: absolute;
    /* border:2px solid black; */
    width:100%;
   margin-top:3940px;
}
.img1{
    margin-top: 30px;
    position: absolute;
    /* border:2px solid red; */
    height:750px;
    width:48%;
    margin-left: 30px;
   
}
.img1 img{
    height:620px;
    width:100%;
}
.img1 h2{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    margin-left: 230px;
    height:50px;
    margin-top: 20px;
}
.img1 p{
    position: absolute;
    font-size: 13px;
    margin-left: 280px; 
    margin-top: 40px;
}
.img1 button{
    padding: 8px 100px;
    color:white;
    background-color: black;
    border: none;
    margin-top: 70px;
    margin-left: 190px;
}

.img2{
    margin-top: 38px;
    /* border:2px solid red; */
    margin-left: 700px;
    height:750px;
    width:45%;
}
.img2 img{
   
    height:620px;
    width:100%; 
}
.img2 h2{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    margin-left: 230px;
    height:50px;
    margin-top: 20px;
}
.img2 p{
    position: absolute;
    font-size: 13px;
    margin-left: 180px; 
    margin-top: 40px;
}
.img2 button{
    padding: 8px 100px;
    color:white;
    background-color: black;
    border: none;
    margin-top: 70px;
    margin-left: 130px;
}